body{
    font-family: 'Roboto', sans-serif;
    background: url(../img/fondo.jpg);
    height: 100vh;
    background-size: cover;
}

.menu p {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    margin-left: 60px;
    color:black;
    margin-bottom: 100px;
}

img {
    height: 362px;
    width: 630px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: black;
}

.container {
    display: flex;
    margin-left: 520px;
    margin-top: 60px;
}

.listOne ul {
    margin-right: 30px;
    margin-bottom: 100px;
}

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 400%;

    animation: cambio 20s infinite alternate;
}

.slider li{
    list-style: none;
    width: 100%;

}

.slider img {
    width: 54%;
}

.container p {
    font-size: 20px;
}



@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}